#info-panel-controls a {
    color: rgb(255, 255, 255);
}

.full-teaser {
	display: none;
}

.preview .full-teaser{
	display: block;
}

.kernel-icon {
	vertical-align: middle;
}

.field-name-field-thumbnail{
	float: right;
}

.popcorn-node .links {
	margin: 0;
}

.popcorn-node .full-teaser {
    padding: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.popcorn-node .full-teaser img{
    margin: 0;
    padding: 0;
}

.popcorn-node .node-teaser {
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	border: 0;
	padding: 0;
    background-color: rgb(75, 76, 82);
}

.popcorn-node .node-teaser h2 {
	padding: 0;
	margin: 0;
	line-height: 30px;
    padding-left: 30px;
    padding-right: 5px;
    max-height: 30px;
}

.popcorn-node .node-teaser a {
    color: rgb(234, 194, 82);
}

.popcorn-node .node-teaser h2 a {
    color: rgb(255, 255, 255);
	font-style: italic;
	font-family: Donatora, Georgia, Serif;
	font-style: italic;
	font-size: 21px;
	font-weight: normal;
	display: inline-block;
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.preview .node-teaser h2{
    max-height: none;
}

.preview .node-teaser h2 a{
    overflow: auto;
    white-space: normal;
}

.popcorn-node .node-teaser.node-information {
	background-image: url(/sites/all/themes/loo/images/information.png);
	background-repeat: no-repeat;
}

.popcorn-node .node-teaser.node-data {
	background-image: url(/sites/all/themes/loo/images/data.png);
	background-repeat: no-repeat;
}

.popcorn-node .node-teaser.node-map {
	background-image: url(/sites/all/themes/loo/images/map.png);
	background-repeat: no-repeat;
}

.popcorn-node .node-teaser.node-action {
	background-image: url(/sites/all/themes/loo/images/action.png);
	background-repeat: no-repeat;
}

.popcorn-node .node-teaser.node-user-generated-content {
	background-image: url(/sites/all/themes/loo/images/user-generated-content.png);
	background-repeat: no-repeat;
}

.popcorn-node .node-teaser.node-film-clip {
	background-image: url(/sites/all/themes/loo/images/film-clip.png);
	background-repeat: no-repeat;
}

.popcorn-node .popcorn-action{
	float: right;
}

.popcorn-node .popcorn-action div{
	display: inline-block;
}

#highlight .preview .node-teaser {
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: 5px;
    background-color: rgb(75, 76, 82);
}

#highlight .node{
    z-index: 30;
}
