#main-player{
	background: rgba(25, 42, 53, 0.9);
	display: block;
	margin: 0 auto;
}
	
#controls{
  position: relative;
  margin: 0 auto;
}


#volume-control{
  display: block;
  position: absolute;
  bottom: 30px;
  right: 10px;
  display: none;
  cursor: pointer;
}

#info-panel-controls{
  background: rgba(25, 42, 53, 0.5);
  padding: 8px 8px 0 8px;
  text-align: left;
  margin: 0;
}

#info-panel-controls li{
  display: inline-block;
  padding: 5px 20px;
  background-color: rgb(75, 76, 82);
  color: white;
  font-weight: bold;
  font-size: 12px;
}


/* Doug's Land of Opportunity styles */

#video-container{
  width: 893px;
  margin: 0 auto;
}

#kettle{
  background: rgba(25, 42, 53, 0.9);
  padding: 20px;
  text-align: left;
  min-height: 500px;
}

.popcorn-subject{
  color: yellow;
  width: 300px;
  display: inline-block;
  padding: 20px;
  margin-right: 20px;
}

#kettle .popcorn-subject-heading{
  border-bottom: 2px solid blue;
  margin: 10px 0;
}

#video-container .popcorn-node{
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

#video-container .node-teaser{
  background-color: rgb(75, 76, 82);
	padding: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  border: 0;
}

#video-container .node-teaser h2{
  padding: 0;
}

#video-container .node-teaser a{
  color: rgb(234, 194, 82);
  font-style: italic;
}

#highlight{
  position: absolute;
  top: 0;
  right: -310px;
  width: 300px;
  height: 70px;
  background: rgba(175, 175, 255, .6);
}

.node-teaser .content, .node-teaser .link-wrapper{
  display: none;
}

.node-teaser.preview .content, .node-teaser.preview .link-wrapper{
  display: block;
}

#highlight .node-teaser{
	margin: 0;
}
