#main-player-wrapper{
    background: rgba(25, 42, 53, 0.9);
    margin: 0 auto;
    width: 720px;
}

#main-player{
    display: block;
}
	
#player-history{
  
}

.player-button{
	margin: 0;
	height: 80px;
	width: 50px;
	border: none;
	background: rgba(25, 42, 53, 0.9);
    background-repeat: no-repeat;
    background-position: 10px 35px;
	vertical-align: top;
	outline: 0;
}

#play-button{
    background-image: url(/sites/all/themes/loo/images/pause.png);
}

#play-button.paused{
    background-image: url(/sites/all/themes/loo/images/play.png);
}

#volume-button{
    background-image: url(/sites/all/themes/loo/images/music-on.png);
}

#volume-button.muted{
    background-image: url(/sites/all/themes/loo/images/music-muted.png);
}


#volume-control{
  display: block;
  position: absolute;
  bottom: 30px;
  right: 10px;
  display: none;
  cursor: pointer;
}

#info-panel-controls{
  background: rgba(25, 42, 53, 0.5);
  padding: 8px 8px 0 8px;
  text-align: left;
  margin: 0;
}

#info-panel-controls li{
  display: inline-block;
  padding: 5px 20px;
  background-color: rgb(75, 76, 82);
  color: white;
  font-weight: bold;
  font-size: 12px;
}


/* Doug's Land of Opportunity styles */

#video-container{
  width: 760px;
  margin: 0 auto;
}

#kettle{
  background: rgba(25, 42, 53, 0.9);
  padding: 0 20px;
  text-align: left;
  min-height: 100px;
  position: relative;
}

.popcorn-subject{
  color: yellow;
  width: 300px;
  display: inline-block;
  padding: 0 20px;
  margin-right: 20px;
  vertical-align: top;
}

#kettle .popcorn-subject-heading{
  border-bottom: 2px solid blue;
  margin: 10px 0;
}

#video-container .popcorn-node{
  vertical-align: top;
}

#highlight{
  width: 300px;
  height: 80px;
  display: inline-block;
  vertical-align: top;
  background: rgba(25, 42, 53, 0.9);
  position: relative;
}

#player-controls-taper{
	display: block;
}

.node-teaser .content, .node-teaser .link-wrapper{
  display: none;
}

.node-teaser.preview .content, .node-teaser.preview .link-wrapper{
  display: block;
}

#highlight .node-teaser{
	margin: 0;
	padding: 0;
}

#highlight .node-teaser h2{
	font-size: 13px;
}

#highlight .popcorn-node{
	padding: 5px;
}

#player-history{
	padding: 0 20px;
}

.history-node{
	margin: 0 30px;
	height: 15px;
	background: rgba(25, 42, 53, 0.9);
}

.history-node a{
	display: block;
	height: 100%;
}

#modal-frame{
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 30px;
    z-index: 1000;
}

#modal-dialog{
	max-width: 960px;
	margin: 20px auto;
	position: relative;
	background-color: white;
}

#modal-close{
	width: 30px;
	height: 30px;
	background: white;
	border: none;
	position: absolute;
	top: 10px;
	right: -30px;
}
