#player-wrapper {
	margin: 0 auto;
	width: 720px;
	height: 405px;
	position: relative;
    text-align: center;
    -webkit-transition: margin-top .5s linear;
    -moz-transition: margin-top .5s linear;
    -ms-transition: margin-top .5s linear;
    -o-transition: margin-top .5s linear;
    transition: margin-top .5s linear;
}

#main-player-wrapper {
	overflow: hidden;
	position: relative;
    height: 100%;
    top: 0;
    z-index: 20;
	background: rgba(25, 42, 53, 0.9);
    -webkit-transition: top 1s linear;
    -moz-transition: top 1s linear;
    -ms-transition: top 1s linear;
    -o-transition: top 1s linear;
    transition: top 1s linear;
}

#main-player-wrapper.transition {
    position: absolute;
    top: 405px;
    bottom: 0;
    -webkit-transition: top 0s;
    -moz-transition: top 0s;
    -ms-transition: top 0s;
    -o-transition: top 0s;
    transition: top 0s;
}

#main-player {
	display: block;
}

#controls, #shelf{
    z-index: 30;
    width: 760px;
    margin: 0 auto;
}

.play-button-wrapper,
.volume-button-wrapper {
	height: 30px;
	width: 30px;
	vertical-align: top;
	outline: 0;
    display: inline-block;
	background: rgba(25, 42, 53, 0.9);
    padding: 35px 0px 15px 8px;
}

.play-button-wrapper {
    padding: 35px 10px 15px 10px;
}

.play-button-wrapper button,
.volume-button-wrapper button {
	margin: 0;
    width: 30px;
    height: 30px;
	border: none;
	background-repeat: no-repeat;
    background: transparent;
    cursor: pointer;
}

#play-button {
	background-image: url(/sites/all/themes/loo/images/pause.png);
}

#play-button.paused {
	background-image: url(/sites/all/themes/loo/images/play.png);
}

#volume-button {
	background-image: url(/sites/all/themes/loo/images/music-on.png);
	position: relative;
}

#volume-button.muted {
	background-image: url(/sites/all/themes/loo/images/music-muted.png);
}

#shelf-controls {
	background: rgba(25, 42, 53, 0.5);
	padding: 8px 8px 0 8px;
	text-align: left;
	margin: 0;
	border: none;
	overflow: hidden;
}

#shelf-controls li {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

#shelf-controls li a {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	height: 100%;
	padding: 5px 20px;
	border: 0;
	background-color: rgba(75, 76, 82, 0.8);
	-khtml-border-radius-topleft: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-khtml-border-radius-topright: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

#shelf-controls li a.current-control {
	color: white;
	width: 100%;
	height: 100%;
	padding: 5px 20px;
	background-color: rgba(25, 42, 53, 0.8);
}

/* Doug's Land of Opportunity styles */
#video-container {
	width: 760px;
	margin: 0 auto;
    overflow: hidden;
}

#kettle {
	background: rgba(25, 42, 53, 0.9);
	padding: 0 20px;
	text-align: left;
	min-height: 100px;
	position: relative;
}

.popcorn-subject,.popcorn-type {
	color: #FFCD33;
	width: 300px;
	display: inline-block;
	padding: 0 20px;
	margin-right: 20px;
	vertical-align: top;
}

#content .popcorn-subject h2, #content .popcorn-type h2 {
	font-family: Dokument, Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.popcorn-subject:nth-child(4n+1) .popcorn-subject-heading, .popcorn-type:nth-child(4n+1) .popcorn-type-heading
	{
	border-bottom: 2px solid #659BA5;
	margin: 10px 0;
}

.popcorn-subject:nth-child(4n+2) .popcorn-subject-heading, .popcorn-type:nth-child(4n+2) .popcorn-type-heading
	{
	border-bottom: 2px solid #447261;
	margin: 10px 0;
}

.popcorn-subject:nth-child(4n+3) .popcorn-subject-heading, .popcorn-type:nth-child(4n+3) .popcorn-type-heading
	{
	border-bottom: 2px solid #933F21;
	margin: 10px 0;
}

.popcorn-subject:nth-child(4n+4) .popcorn-subject-heading, .popcorn-type:nth-child(4n+4) .popcorn-type-heading
	{
	border-bottom: 2px solid #BC842C;
	margin: 10px 0;
}

#highlight {
	width: 300px;
	height: 80px;
	display: inline-block;
	vertical-align: top;
	background: rgba(25, 42, 53, 0.9);
	position: relative;
}

#player-controls-taper {
	width: 760px;
	height: 20px;
	background-image: url(../images/taper.png);
}

#player-controls {
	background-color: rgba(25, 42, 53, 0.9);
}

#highlight .node-teaser {
	margin: 0;
	padding: 0;
}

#highlight .node-teaser h2 {
	font-size: 13px;
}

#highlight .popcorn-node {
	padding: 5px;
	position: relative;
	height: 30px;
}

#player-history {
    text-align: center;
	padding: 0 20px;
	position: relative;
	height: 15px;
	width: 720px;
	margin: 0 auto;
}

.popcorn-return{
   padding-left: 20px;
   margin: 10px 0;
          background: url(../images/back.png) 0 center no-repeat;
   line-height: 14px;
}

.popcorn-return a{
   color: #ffffff;
          font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 14px
}

.popcorn-return a:active, 
.popcorn-return a:hover{ 
   color: #ffffff;
   text-decoration: none;
}

#modal-frame {
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-right: 30px;
	z-index: 1000;
}

#modal-dialog {
	max-width: 960px;
	margin: 20px auto;
	position: relative;
	background-color: white;
}

#modal-close {
	width: 30px;
	height: 30px;
	background: white;
	border: none;
	position: absolute;
	top: 10px;
	right: -30px;
}

/** new scrubber **/
#scrubb {
	height: 5px;
	padding: 5px 0;
	margin: 5px;
	cursor: pointer;
}

.scrubber-bar {
	height: 3px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
}

#scrubber-length {
	background: rgb(71, 85, 86);
	height: 3px;
	position: relative;
}

#buffered {
	background: #AA9048;
}

#played, #volume-level {
	background: #FFCD33;
	box-shadow: 0 0 5px #ECCAAA;
}

#volume-control {
    display: inline-block;
    height: 70px;
    padding: 5px 0;
    z-index: 10;
	background: rgba(25, 42, 53, 0.9);

}

#volume-wrapper {
    width: 4px;
    height: 100%;
    padding: 0 4px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 1s 1s, opacity 1s 1s;
    -moz-transition: visibility 1s 1s, opacity 1s 1s;
    -ms-transition: visibility 1s 1s, opacity 1s 1s;
    -o-transition: visibility 1s 1s, opacity 1s 1s;
    transition: visibility 1s 1s, opacity 1s 1s;
}

#volume-wrapper.visible{
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 2s;
    -moz-transition: visibility 1s 1s, opacity 1s 1s;
    -ms-transition: visibility 1s 1s, opacity 1s 1s;
    -o-transition: visibility 1s 1s, opacity 1s 1s;
    transition: opacity 2s;
}

#volume-wrapper:hover {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 2s;
    -moz-transition: visibility 1s 1s, opacity 1s 1s;
    -ms-transition: visibility 1s 1s, opacity 1s 1s;
    -o-transition: visibility 1s 1s, opacity 1s 1s;
    transition: opacity 2s;
}

#volume-length {
    width: 4px;
    height: 100%;
	background: rgb(71, 85, 86);
    position: relative;
}

#volume-level {
    width: 4px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}

#player-controls {
	height: 80px;
	width: 360px;
	display: inline-block;
	background: rgba(25, 42, 53, 0.9);
}

/** new trigger zone */
#trigger-zone {
	height: 50px;
	margin: 0 5px;
	position: relative;
}

.trigger-icon {
	display: inline-block;
	position: absolute;
	top: 30px;
	left: 0;
	background-image: url(../images/icon-sprite.png);
	background-repeat: no-repeat;
	background-color: #AA9048;
	box-shadow: 0 0 8px #AA9048;
	border: 0;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	cursor: pointer;
}

.trigger-icon.active {
	background-color: #FFCD33;
	box-shadow: 0 0 8px #FFCD33;
}

.action-trigger-icon {
	background-position: 0px -16px;
}

.action-trigger-icon.active {
	background-position: 0px 0px;
}

.data-trigger-icon {
	background-position: -16px -16px;
}

.data-trigger-icon.active {
	background-position: -16px 0px;
}

.information-trigger-icon {
	background-position: -32px -16px;
}

.information-trigger-icon.active {
	background-position: -32px 0px;
}

.map-trigger-icon {
	background-position: -48px -16px;
}

.map-trigger-icon.active {
	background-position: -48px 0px;
}

.user-generated-content-trigger-icon {
	background-position: -64px -16px;
}

.user-generated-content-trigger-icon.active {
	background-position: -64px 0px;
}

.film-clip-trigger-icon {
	background-position: -80px -16px;
}

.film-clip-trigger-icon.active {
	background-position: -80px 0px;
}
