.draggableviews-processed {
  float: left;
}

.draggableviews-processed li.views-row {
  display: block;
  float: left;
  width: 180px;
/*  height: 180px;  if required for fixed height displays */
  margin: 10px;
  padding: 5px;
}

.draggableviews-processed li.ui-sortable-helper {
  border: 1px dotted blue;
}
.draggableviews-processed li {
  border: 1px dotted grey;
}

.draggableviews-weight{
  display:none;
}
