#main-player{
	background: rgba(25, 42, 53, 0.9);
	display: block;
	margin: 0 auto;
}
	
#player-controls{
}


#volume-control{
  display: block;
  position: absolute;
  bottom: 30px;
  right: 10px;
  display: none;
}